<li>
	{{burger_name}}

	<button class="change-devoured btn btn-md btn-success" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}EAT IT!{{else}}Order again{{/if}}
	</button>

	<button class="delete-cat btn btn-sm btn-danger" data-id="{{this.id}}">DELETE!</button>
</li>
 